<div class="card mb-2 rounded px-5 py-3 card-page-title">
<div class="card-header">
  <div class="card-header-title">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
</div>
</div>
<div class="card mb-2 border border-gray-700 bg-gray-950 rounded px-5 py-3 card-message">
  <div class="card-header">
    <div class="card-header-title">
    

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div id="user-avatar">
    <%= image_tag resource.avatar.url, class: "avatar"  if resource.avatar.attached? %>
  </div>

  <div class="field">
    <%= f.label :avatar_param, "Avatar" %> <br>
    <%= f.file_field :avatar_param %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password_hash, "Password for Bot" %><br />
    <%= f.password_field :password_hash, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password %><br><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br><i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
</div>
</div>