<div class="card mb-2 rounded px-5 py-3 card-page-title">
<div class="card-header">
  <div class="card-header-title">
<h2>Log in</h2>
</div>
</div>
</div>

<div class="card mb-2 border border-gray-700 bg-gray-950 rounded px-5 py-3 card-message">
  <div class="card-header">
    <div class="card-header-title">
    

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
  </div>
  </div>

